{% extends "base.html" %}
{% load blog_filters i18n taggit_templatetags2_tags %}
{% block head_title %}{% trans 'UncensoredDNS Blog' %}{% endblock head_title %}
{% block content %}
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    {% trans 'UncensoredDNS Blog' %}
                    <small>{% trans 'Rants and service information' %}</small>
                </h1>

                {% for blogpost in blogpost_list %}
                    <h2>
                        <a href="{% url 'blogpost_detail' slug=blogpost.slug %}">{{ blogpost.title }}</a>
                    </h2>
                    <p class="lead">
                        by <a href="{% url 'about_me' %}">Tykling</a>
                    </p>
                    <p><span class="glyphicon glyphicon-time"></span> {{ blogpost.created_date }}</p>
                    <hr>
                    {% if blogpost.body|markdown|length > 250 %}
                        {{ blogpost.body|markdown|truncatechars:250 }}
                        <p><a class="btn btn-primary" href="{% url 'blogpost_detail' slug=blogpost.slug %}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a></p>
                    {% else %}
                        {{ blogpost.body|markdown|safe }}
                    {% endif %}
                    <hr>
                {% endfor %}

            {% if is_paginated %}
                <!-- Pager -->
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">&larr; {% trans 'previous' %}</a>
                        {% endif %}
                        <span class="page-current">
                            {% blocktrans with number=page_obj.number total=page_obj.paginator.num_pages %}Page {{ number }} of {{ total }}{% endblocktrans %}
                        </span>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">{% trans 'next' %} &rarr;</a>
                        {% endif %}
                    </span>
                </div>
            {% else %}
                <p><i>{% blocktrans with count=blogpost_list.count %}Showing {{ count }} of {{ count }} blogposts{% endblocktrans %}</i></p>
            {% endif %}
            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                {% comment %}
                <!-- Blog Search Well -->
                {% include 'searchpanel.html' %}
                {% endcomment %}

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>{% trans 'Tags used on this blog' %}</h4>
                    <div class="row">
                    <p>
                    {% get_taglist as tags %}
                    <div class="text-center">
                    {% for tag in tags %}
                    <a href="{% url 'tag_lookup' slug=tag.slug %}"><font size={{tag.num_times|floatformat:0|add:"2"}}><span class="label label-primary">{{tag}}</span></font></a>
                    {% endfor %}
                    </div>
                    </p>
                    </div> <!-- /.row -->
                </div>
            </div>
        </div>
{% endblock content %}
