{% extends "base.html" %} {% load blog_filters i18n %} {% block head_title %}{{ blogpost.title }}{% endblock head_title %} {% block content %}
<section class="blogposts mdl-color--blue-grey-50">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--10-col">
        <h1 class="mdl-typography--display-1 roboto-light">{{ blogpost.title }}</h1>
        <p class="mdl-typography--caption-color-contrast">by Tykling @ {{ blogpost.created_date |date:"F d, Y H:i" }}</p>
        {{ blogpost.body|markdown|safe }} {% trans 'Tags:' %} {% for tag in blogpost.tags.all %} {% if not tag.slug == "" %}
        <a href="{% url 'tag_lookup' slug=tag.slug %}"><span class="md-chip">{{ tag }}</span></a> {% endif %} {% endfor %}
    </div>
    <div class="mdl-layout-spacer"></div>
</section>
{% endblock content %}
