html>body {
    font-family: 'Roboto','Helvetica','Arial',sans-serif!important;
}

:link,
:visited {
    text-decoration: none;
}

a.mdl-layout-title {
    color: #fff;
}

section {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}

.mdl-layout__header-row .mdl-navigation__link {
    color: rgba(0, 0, 0, 0.87)
}

.mdl-layout__header-row.max-width {
    padding-left: 0;
}

section .section-header {
    margin-top: 0;
}

section .with-subheader {
    margin-bottom: 0;
}

section .oneline-subhead {
    margin-left: 10px;
}

.roboto-light {
    font-weight: 300;
}

section.blogposts .meta > *:first-child {
    margin-right: 16px;
}

section.blogposts .meta > * {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

section.blogposts .meta {
    box-sizing: border-box;
    padding: 16px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: auto;
}

section.dns span {
    display: block;
}

section.dns p i {
    vertical-align: top;
    margin-right: 10px;
}

.blog-list {
    list-style-type: none;
    width: 100%;
    padding-left: 0;
}

.blog-list .blogpost-title {
    margin: 0;
}

.footer-item {
    list-style-type: none;
    width: 100%;
    padding-left: 0;
}

.twitter-logo {
    border-radius: 64px;
    width: 64px;
    margin-bottom: 20px;
    margin-top: 24px;
}

.twitter-logo-section {
    border-radius: 30px;
    width: 30px;
    vertical-align: text-bottom;
}

.twitter-footer {
    width: 280px;
    text-align: center;
}

.md-chip {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    display: inline-block;
    color: rgba(0, 0, 0, .87);
    background-color: #eee;
    border-radius: 44px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 12px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    margin: 5px;
}

.md-chip:hover {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.18), 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.md-chip2 {
    display: inline-block;
    background-color: #efe;
    font-weight: 400;
    padding: 12px;
    border-radius: 44px;
}

.material-icons.hero-icon {
    font-size: 220px;
    color: rgba(255, 255, 255, 0.54);
}

section.dns hr {
    border-top-color: rgba(0, 0, 0, 0.54);
    border-top-style: dotted;
}

.dns-header-container {
    align-items: center;
    display: flex;
}

.blog-tag {
    font-size: 120px;
    line-height: 120px;
    margin: 5px 10px;
    display: inline-block;
}

.blog-tag.blog-tag-count-0 {
    font-size: 14px;
    line-height: 14px;
}

.blog-tag.blog-tag-count-1 {
    font-size: 20px;
    line-height: 20px;
}

.blog-tag.blog-tag-count-2 {
    font-size: 30px;
    line-height: 30px;
}

.blog-tag.blog-tag-count-3 {
    font-size: 40px;
    line-height: 40px;
}

.blog-tag.blog-tag-count-4 {
    font-size: 50px;
    line-height: 50px;
}

.blog-tag.blog-tag-count-5 {
    font-size: 60px;
    line-height: 60px;
}

.blog-tag.blog-tag-count-6 {
    font-size: 70px;
    line-height: 70px;
}

.blog-tag.blog-tag-count-7 {
    font-size: 80px;
    line-height: 80px;
}

.blog-tag.blog-tag-count-8 {
    font-size: 90px;
    line-height: 90px;
}

.blog-tag.blog-tag-count-9 {
    font-size: 100px;
    line-height: 100px;
}

.blog-tag.blog-tag-count-10 {
    font-size: 110px;
    line-height: 110px;
}

.tag-chip {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    display: inline-block;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    margin: 5px;
    border-radius: 10px;
}

.tag-chip:hover {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.18), 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

section.tagcloud .cloud-container {
    justify-content: center;
}

.mdl-layout__header .mdl-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
}

.mdl-layout__header .mdl-layout__header-row .mdl-layout-title {
    margin-right: 10px;
}

.mdl-layout__header .mdl-navigation .mdl-navigation__link:hover {
    border-bottom: 4px solid #3f51b5;
}

.mdl-layout__header .mdl-navigation .mdl-navigation__link.menu-active {
    border-bottom: 4px solid #3f51b5;
    color: rgba(0, 0, 0, 0.87);
}

.mdl-layout__header .mdl-navigation .mdl-navigation__link {
    color: rgba(0, 0, 0, 0.54);
    font-weight: 700;
    font-size: 14px;
}

.rss-icon-text-container a {
    vertical-align: top;
    font-weight: 700;
}
.rss-icon-text-container i {

}

.flex-centered {
    justify-content: center;
}