{% extends "base.html" %} {% load i18n %} {% block head_title %}{% trans 'RSS/Atom' %}{% endblock head_title %} {% block content %}
<section class="faq mdl-color--blue-grey-50">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--10-col">
        <h1 class="mdl-typography--display-1 roboto-light">RSS/Atom</h1>
        <p>{% trans 'The following two RSS/Atom feeds contain all blogposts:' %}</p>
        <ul class="list-unstyled">
            <li><a href="{% url 'allrssfeed' %}">RSS</a></li>
            <li><a href="{% url 'allatomfeed' %}">Atom</a></li>
        </ul>
    </div>
    <div class="mdl-layout-spacer"></div>
</section>
{% endblock content %}
