{% extends "base.html" %} {% load i18n %} {% block head_title %}{% trans 'DNS Servers' %}{% endblock head_title %} {% block content %}
<section class="faq mdl-color--blue-grey-50">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--10-col mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-desktop dns-header-container mdl-typography--text-center flex-centered">
            <h1 class="mdl-typography--display-1 roboto-light">{% trans 'DNS servers' %}</h1>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-desktop mdl-typography--text-center">
            <p class="mdl-typography--headline code section-header roboto-light">anycast.censurfridns.dk</p>
            <p class="code">91.239.100.100
                <br>2001:67c:28a4::</p>
            <p>{% trans "Anycast from multiple locations." %}</p>
            <hr />
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-desktop mdl-typography--text-center">
            <p class="mdl-typography--headline code section-header roboto-light">ns1.censurfridns.dk</p>
            <p class="code">89.233.43.71
             <br>2a01:3a0:53:53::</p>
            <p>{% trans "This node is hosted at AS9167 in Copenhagen, Denmark." %}</p>
            <hr />
        </div>
    </div>
    <div class="mdl-layout-spacer"></div>
</section>
{% endblock content %}
