{% extends "base.html" %}
{% load blog_filters i18n %}
{% block head_title %}{% trans 'UncensoredDNS' %}{% endblock head_title %}
{% block content %}
<div class="row">
    <div class="col-lg-8">
        <div class="row">
            <div class="jumbotron">
                <h2>{% trans "Welcome to UncensoredDNS" %}</h2>
                <p>{% trans "UncensoredDNS is the name of a DNS service which consists of two uncensored DNS servers. The servers are available for use by anyone, free of charge." %}</p>
                <p>{% trans "This service is run by Thomas Steen Rasmussen. I am a system administrator with a Danish internet provider, I was born in 1979. I run this service as a private individual, with my own money." %}</p>
                <p>{% trans "You can read more using the menu above, or if you just want the server IP addresses you can see them on the right." %}</p>
            </div>
        </div>
        <div class="row">
            <h3>{% trans 'Latest blogposts' %}</h3>
            {% for blogpost in blogposts %}
                <h4>
                    <a href="{% url 'blogpost_detail' slug=blogpost.slug %}">{{ blogpost.title }}</a>
                </h4>
                <p><span class="glyphicon glyphicon-time"></span> {{ blogpost.created_date }}</p>
                <p>{% trans 'Tags:' %}
                {% for tag in blogpost.tags.all %}
                    {% if not tag.slug == "" %}
                        <a href="{% url 'tag_lookup' slug=tag.slug %}"><span class="label label-primary">{{ tag }}</span></a> 
                    {% endif %}
                {% endfor %}
                <hr>
            {% endfor %}
        </div>
    </div>
    <!-- Sidebar Widgets Column -->
    <div class="col-lg-4">
        <!-- Server IPs Well -->
        <div class="well">
            <h4>{% trans 'DNS servers' %}</h4>
            <div class="row">
                <div class="col-lg-10">
                    <p><b>anycast.censurfridns.dk</b><br>91.239.100.100<br>2001:67c:28a4::</p>
                    <p><b>ns1.censurfridns.dk</b><br>89.233.43.71<br>2002:d596:2a92:1:71:53::</p>
                </div>
            </div>
        </div>

        <!-- Twitter Well -->
        <div class="well">
            <h4>{% trans 'Twitter' %}</h4>
            <div class="row">
                <div class="col-lg-10">
                    <p><img src="/static/images/twitter_logo_blue.png"> {% blocktrans %}Follow <a href='https://twitter.com/censurfridns'>@censurfridns</a> on twitter for updates and information on the project.{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
