{% extends "base.html" %}
{% block head_title %}About me{% endblock head_title %}
{% block content %}
                <div class="row">
                    <div class="col-lg-12">
                        <p><b>Thomas Steen Rasmussen aka Tykling</b></p>
                        <p>Living in Copenhagen, Denmark. Born 1979.</p>
                        <p>Developer and sysadmin with a healthy interest in network and security.</p>
                        <p>Prefers: FreeBSD, Django, PostgreSQL, Nginx.</p>
                    </div>
                </div> <!-- /.row -->
{% endblock content %}
