{% extends "base.html" %}
{% block head_title %}Contact{% endblock head_title %}
{% block content %}
                <div class="row">
                    <div class="col-lg-12">
                        <p><b>Getting in touch</b></p>
                        <p>I use IRC a lot, nickname <b>Tykling</b> on Freenode/EFNet/OFTC and Quakenet.</p>
                        <p>You can also send me an email at <a href="mailto:thomas@gibfest.dk">thomas@gibfest.dk</a>.</p>
                        <p>You can find my PGP info at <a href="https://keybase.io/tykling">Keybase</a>. Fingerprint is <b>772F F77F 0972 FA58</b>.</p>
                        <p>I am also active on Twitter as <a href="https://twitter.com/tykling">@tykling</a>.</p>
                    </div>
                </div> <!-- /.row -->
{% endblock content %}
