{% extends "base.html" %} {% load i18n %} {% block head_title %}{% trans 'Contact' %}{% endblock head_title %} {% block content %}
<section class="faq mdl-color--blue-grey-50">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--10-col">
        <h1 class="mdl-typography--display-1 roboto-light">{% trans "Contact" %}</h1>
        <p>{% trans 'You have a few options for getting in touch with me:' %}</p>
        <ul>
            <li>IRC: <a href='ircs://chat.freenode.net:6697/#censurfridns'>#censurfridns (Freenode)</a></li>
            <li>Twitter: <a href='https://twitter.com/censurfridns'>@censurfridns</a></li>
            <li>E-mail: <a href='mailto:admin@censurfridns.dk'>admin@censurfridns.dk</a></li>
            <li>Jabber (OTR): <a href='xmpp:tykling@cloak.dk'>tykling@cloak.dk</a></li>
        </ul>
    </div>
    <div class="mdl-layout-spacer"></div>
</section>
{% endblock content %}
