{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans 'RSS/Atom' %}{% endblock head_title %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h3>RSS/Atom</h3>
        <p>{% trans 'The following two RSS/Atom feeds contain all blogposts:' %}</p>
        <ul>
            <li>RSS: <a href="{% url 'allrssfeed' %}">{% url 'allrssfeed' %}</a></li>
            <li>Atom: <a href="{% url 'allatomfeed' %}">{% url 'allatomfeed' %}</a></li>
        </ul>
        <p>{% trans 'This list contains RSS/Atom feeds for each of the tags used on this blog:' %}</p>
        <ul>
            {% foreach tag in tags %}
                <li>
                    <font size={{tag.num_times|floatformat:0|add:"2"}}>
                    <span class="label label-primary">{{tag}}</span></font>: 
                    <a href="{% url 'tagrssfeed' slug=tag.slug %}">RSS</a> 
                    <a href="{% url 'tagatomfeed' slug=tag.slug %}">Atom</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
