asgiref==3.5.2
commonmark==0.9.1
Django==4.1
django-bootstrap3==22.1
django-modeltranslation==0.18.4
django-taggit==3.0.0
importlib-metadata==4.10.1
psycopg2-binary==2.9.3
pytz==2021.3
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.0.1
zipp==3.7.0
